.hero {
  height: 800px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/fried-rice.jpg");
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
